<h1>Carrito de Compras</h1>
<ul>
    {{#if cart.length}}
    {{#each cart}}

    <li>
        {{!-- <img src="{{}}"> --}}
        <span>{{product}}</span>
        <span>Cantidad: <input type="number" value="{{cart.quantity}}"
                onchange="updateQuantity('{{cart_id}}', this.value)"></span>
        <span>Precio: ${{this.price}}</span>
         <a href="/api/carts/delete/{{_id}}" class="btn btn-danger text-center my-2">Detalle de Carrito</a>
    </li>

    {{/each}}

    {{else}}

    <h2>Carrito esta vacio</h2>

    {{/if}}
</ul>
<p>Total: ${{total}}</p>